.itemList{
	list-style: none;
}

.itemList>li{
	border:1px solid black;
	margin:5px;
	padding:5px;
}

table {
    border-collapse: collapse;
}

td,th {
	 padding: 10px;
}

#foodItemForm table, th, td {
    border: 0px solid black;
}

#tblManageFoodItem th, td {
    border: 1px solid LightGray;
}

#foodItemForm .button{
	width:100px;
}

#foodItemForm{
	margin-left:20px;
}

input {
	height:24px;
	border: 1px solid black;
	width:200px;
}

#foodItemForm #inputChoose{
	border: 0 solid LightGray;
}

